<h1 class="ui header">
  Register as candidate
</h1>

<%= render 'candidateForm', candidate: @candidate %>

<%= link_to root_path, class: "ui basic button" do %>
  <i class="chevron left icon"></i> Back
<% end %>
