<h1 class="ui header">
  Voting Above The Line
</h1>

<div>
  Select the number 1 in the dropdown next to the party which is your first choice.
  <br>
  You can then select the number 2 next to your second choice and continue until all partites have been assigned a number.
</div>

<br>

<%= render 'votingForm', party: @party %>

<%= link_to public_path, class: "ui basic button" do %>
  Back
<% end %>
