<h1 class="ui header">
  Voting Below The Line
</h1>

<table class="ui table">
  <tbody>
  <% @candidate.each do |candidate| %>
    <tr>
      <td><%= candidate.name %></td>
      <td><%= candidate.party %></td>
      <td><%= candidate.birthday %></td>
    </tr>
  <% end %>
  </table>

<div class="ui basic buttons">
  <%= link_to 'Back', 'javascript:history.go(-1);' %><
  <i class="chevron left icon"></i>

</div>