<h1 class="ui header">
  Australian Federal Election
</h1>

<%= link_to :admin, class: "ui button" do %>
  Admin login
<% end %>

<%= link_to :public, class: "ui button" do %>
  Public login
<% end %>

