<h1 class="ui header">
  Australian Federal Election
</h1>

<table class="ui table">
  <thead>
  <tr>
    <th>
      Candidate Name
    </th>
    <th>
      Party
    </th>
    <th>
    </th>
  </tr>
  <tbody>
  <% @candidate.each do |candidates| %>
    <tr>
      <td><%= candidates.name %></td>
      <td><%= candidates.party %></td>
    </tr>
  <% end %>
  </tbody>
  </thead>
  </table>

<br>

<h2> How would you like to vote?</h2>
<div>
  <div class="ui big buttons">
    <%= link_to :above_line, class: "ui button" do %>
      Above Line
    <% end %>
  </div>

  <div class="ui big buttons">
    <%= link_to :below_line, class: "ui button" do %>
      Below Line
    <% end %>
  </div>

</div>